#new{
    border-style: solid; 
    margin-left: 350px;
    background-color: rgb(230, 173, 201);
    width: 650px;
    height: 400px;
    text-align: center;
    
    
    }
    h1{
        text-align: center;
    }